<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" th:fragment="navbar">
    <div class="container">
        <a class="navbar-brand" href="#">String Portal</a>
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link" id="toHome" aria-current="page" href="/">홈</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="toIntroMain" href="/intro">소개</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="toTennisMain" href="/tennis">테니스</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="toBadmintonMain" href="/badminton">배드민턴</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="toSquashMain" href="/squash">스쿼시</a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
</html>